In [1]:
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
import pickle

In [2]:
data = pd.read_csv('heart_care.csv')
data.head(4)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1

In [3]:
data.shape

(65960, 12)

In [3]:
data_exemple = data.iloc[:1]
data_exemple

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0

In [20]:
maximus = data.iloc[:10000]
maximus.tail(3)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
9997,18954,2,170,75.0,140,90,1,1,0,0,1,1
9998,20673,1,158,120.0,130,70,3,1,0,0,1,1
9999,22620,1,165,69.0,120,80,1,1,0,0,1,0

In [4]:
X = data.drop('cardio', axis= 1)
Y = data['cardio']

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(  X, Y, test_size=0.33, random_state=42)

In [9]:
from sklearn.metrics import accuracy_score

In [6]:
g_clf = GradientBoostingClassifier(max_depth=4, random_state=4)
g_clf.fit(X_train, y_train)

GradientBoostingClassifier(max_depth=4, random_state=4)

In [7]:
g_clf.score(X_test, y_test)

0.7260991409013644

In [8]:
import xgboost as xgb
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(X_train, y_train)

[09:58:25] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.1, max_delta_step=0, max_depth=5,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=10, n_jobs=8, num_parallel_tree=1,
             objective='reg:linear', random_state=0, reg_alpha=10, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [9]:
xg_reg.score(X_test, y_test)

0.16958913898810846

In [10]:
from sklearn.ensemble import RandomForestClassifier
r_clf = RandomForestClassifier( max_depth=15, random_state=1)
r_clf.fit(X_train, y_train)
r_acc = r_clf.score(X_test,y_test)

In [11]:
r_clf.score(X_test, y_test)

0.7256856709698167

In [34]:
pickle.dump(g_clf, open('heart_clf.pkl', 'wb'))

In [18]:
datas = pd.concat([X_test, y_test], axis = 1)

In [22]:
datas.to_csv('heart_app.csv', index = False)

In [23]:
oi = pd.read_csv('heart_app.csv')

In [24]:
oi

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18969,2,164,71.0,120,80,1,1,0,0,1,0
1,18202,1,168,65.0,120,80,1,1,0,0,0,0
2,21693,1,158,69.0,140,80,1,1,0,1,1,0
3,14668,1,161,70.0,100,70,1,1,0,0,1,0
4,18887,1,165,85.0,130,100,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
21762,14734,2,165,74.0,120,80,1,1,0,0,1,0
21763,21196,1,158,94.0,130,80,1,1,0,0,0,0
21764,23492,1,160,59.0,120,80,1,1,0,0,0,1
21765,15209,1,162,56.0,160,100,1,1,0,0,1,1
21766,19792,1,167,84.0,120,70,1,1,0,0,1,1